.selectArea {
  @apply flex flex-col space-y-1 mt-8
}

.select {
  font-size: 1.2rem;
  line-height: 1.75rem;
  padding: 0.5rem 2rem;
  background-color: #dad8d8;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  cursor: pointer;

  /* Replacing default arrow */
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" styles="fill:%23666666;"/></svg>');
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
}
.select:focus,
.select:hover {
  outline: none;
}
