.MCOptionArea {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 300px));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  min-width: 75vw;
  font-size: x-large;
}

.MCOption {
  background-color: rgb(212, 212, 212);
  padding: 20px;
  border-radius: 0.5rem;
  transition: all linear 0.1s;
  user-select: none;
  @apply shadow-md
}
.MCOption:hover {
  cursor: pointer;
}
.MCOption:active:not(.incorrect) {
  transform: translateY(5px);
}

.MCOption.incorrect {
  background-color: rgb(121, 121, 121);
  cursor: not-allowed;
}

.fadeUp {
  animation: fadeUpAnimation 1s ease-out 1;
  opacity: 0;
  z-index: -1;
}

@keyframes fadeUpAnimation {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}