.main {
  overflow-x: hidden;
  user-select: none;
}

.flashcardArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

.flashcardButton {
  font-size: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  transition: all linear 0.1s;
}
.flashcardButton:hover {
  color: rgb(97, 97, 97);
  cursor: pointer;
}
.flashcardButton:active {
  transform: translateY(5px);
}

.moveRight {
  animation: moveRightAnimation 0.8s ease-in-out 1;
}

.moveLeft {
  animation: moveLeftAnimation 0.8s ease-in-out 1;
}

@keyframes moveRightAnimation {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(60vw);
  }
  51% {
    transform: translateX(-60vw);
  }
}

@keyframes moveLeftAnimation {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-60vw);
  }
  51% {
    transform: translateX(60vw);
  }
}
