.flashcard {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    background-color: rgb(255, 237, 213);
    border-radius: 4%;
}

.flashcard.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    backface-visibility: hidden;
    font-size: 1.2rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 4%;
    font-size: x-large;
    overflow-y: auto;
}

.back {
    transform: rotateY(180deg);
}

@media (min-width: 640px) {
    .flashcard {
        width: 450px;
        height: 300px;
    }
    .front, .back {
        font-size: xx-large;
    }
}